
@{
    ViewBag.Title = "vMODINS_InsertarVenta";
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>

        </div>
        <asp:Label ID="Label1" runat="server" Text="Producto"></asp:Label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <asp:Label ID="Label2" runat="server" Text="Cantidad"></asp:Label>
        <br />
        <br />
        <asp:TextBox ID="txtProducto" runat="server" Width="152px"></asp:TextBox>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <asp:TextBox ID="txtCantidad" runat="server" Width="72px"></asp:TextBox>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <asp:Button ID="btnRestaVentas" runat="server" Text="Ingreso" Width="68px" OnClick="btnRestaVEntas_Click" />
            <DeleteParameters>
                <asp:Parameter Name="original_idProducto" Type="Int32" />
                <asp:Parameter Name="original_Producto" Type="String" />
                <asp:Parameter Name="original_Cantidad" Type="Int32" />
            </DeleteParameters>
            <InsertParameters>
                <asp:Parameter Name="Producto" Type="String" />
                <asp:Parameter Name="Cantidad" Type="Int32" />
            </InsertParameters>
            <UpdateParameters>
                <asp:Parameter Name="Producto" Type="String" />
                <asp:Parameter Name="Cantidad" Type="Int32" />
                <asp:Parameter Name="original_idProducto" Type="Int32" />
                <asp:Parameter Name="original_Producto" Type="String" />
                <asp:Parameter Name="original_Cantidad" Type="Int32" />
            </UpdateParameters>
        </asp:SqlDataSource>
    </form>
</body>
</html>

