@{
    ViewBag.Title = "Reportes";
    if (Session["codeU"] == null || Session["nameU"] == null)
    {
        Response.Redirect("~/MODINI_Login/vMODINI_Login");
    }
}

<head>
    <style>
        #form-div {
            position: absolute;
            left: 40.5%;
            top: 33%;
            border: 1px double #ccc;
            padding: 0px 50px;
        }
    </style>
</head>
<div>
    <div class="jumbotron text-center" style="margin-bottom:0">
        <h2>Modulo de Reportes</h2>
    </div>
    <br /><br /><br />
    <div class="row">
        <div class="col-md-4">
            <h2>Compras</h2>
            <a href="@Url.Action("vMODREP_RepCompras", "MODREP_RepCompras")" class="btn btn-success">Reportes de Compras</a>
        </div>
        <div class="col-md-4">
            <h2>Movimientos</h2>
            <a href="@Url.Action("vMODREP_RepMovimientos", "MODREP_RepMovimientos")" class="btn btn-success">Reportes de Movimientos</a>
        </div>
        <div class="col-md-4">
            <h2>General</h2>
            <a href="@Url.Action("vMODREP_RepKardex", "MODREP_RepKardex")" class="btn btn-success">Reporte Kardex</a>
        </div>
    </div>

    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <a href="@Url.Action("vMODINI_Logeado", "MODINI_Logeado")" class="btn  btn-warning">Regresar</a>

</div>

