@{
    ViewBag.Title = "Reportes";
}

<head>
    <style>
        #form-div {
            position: absolute;
            left: 40.5%;
            top: 33%;
            border: 1px double #ccc;
            padding: 0px 50px;
        }
    </style>
</head>
<div>
    <div class="jumbotron text-center" style="margin-bottom:0">
        <h2>Modulo de Reportes</h2>
    </div>

    <div id="form-div">
        <br />
        <br />
        <a href="@Url.Action("vMODREP_RepCompras", "MODREP_RepCompras")" class="btn btn-success">Reportes de Compras</a>
        <br /><br />
        <a href="@Url.Action("vMODREP_RepMovimientos", "MODREP_RepMovimientos")" class="btn btn-success">Reportes de Movimientos</a>
        <br /><br />
        <a href="@Url.Action("vMODREP_RepKardex", "MODREP_RepKardex")" class="btn btn-success">Reporte Kardex</a>
        <br /><br /><br />
    </div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <a href="@Url.Action("vMODREP_Reportes", "MODREP_Reportes")" class="btn  btn-warning">Regresar</a>

</div>

