@{
    ViewBag.Title = "Resta po Mal Estado";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
    <form id="form1">
        <div>

            <br />
            @using (Html.BeginForm("vMoDRES_ResME", "MODRES_ResME", FormMethod.Post))
            {
                <asp:Label ID="Label1" Text="Producto"></asp:Label>
                <input type="text" class="form-control" name=Producto id="product">
                <asp:Label ID="Label2" Text="Cantidad"></asp:Label>
                <input type="number" class="form-control" name=cantidad id="cant">
                <br />
                <input id="btn" name="btn" type="submit" value="Resta" class="btn btn-primary" />
            }
        </div>
    </form>
</body>
</html>
